<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="robot_model_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <!-- <hardware>
                <plugin>mock_components/GenericSystem</plugin>
            </hardware> -->

            <hardware>
                <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
                <param name="joint_commands_topic">/wheeled_humanoid/joint_state_ctrl</param>
                <param name="joint_states_topic">/wheeled_humanoid/joint_state_actual</param>
                <param name="trigger_joint_command_threshold">1e-5</param>
            </hardware>

            <joint name="AR5_5_07L_joint_1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['AR5_5_07L_joint_1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="AR5_5_07L_joint_2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['AR5_5_07L_joint_2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="AR5_5_07L_joint_3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['AR5_5_07L_joint_3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="AR5_5_07L_joint_4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['AR5_5_07L_joint_4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="AR5_5_07L_joint_5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['AR5_5_07L_joint_5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="AR5_5_07L_joint_6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['AR5_5_07L_joint_6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="AR5_5_07L_joint_7">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['AR5_5_07L_joint_7']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="AR5_5_07R_joint_1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['AR5_5_07R_joint_1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="AR5_5_07R_joint_2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['AR5_5_07R_joint_2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="AR5_5_07R_joint_3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['AR5_5_07R_joint_3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="AR5_5_07R_joint_4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['AR5_5_07R_joint_4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="AR5_5_07R_joint_5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['AR5_5_07R_joint_5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="AR5_5_07R_joint_6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['AR5_5_07R_joint_6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="AR5_5_07R_joint_7">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['AR5_5_07R_joint_7']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Trunk_Joint1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Trunk_Joint1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Trunk_Joint2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Trunk_Joint2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Trunk_Joint3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Trunk_Joint3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Trunk_Joint4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Trunk_Joint4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Head_Joint1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Head_Joint1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Head_Joint2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Head_Joint2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Lfinger_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Lfinger_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Rfinger_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Rfinger_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>
    </xacro:macro>
</robot>
